---
import { Image } from 'astro:assets';
import "@fontsource/rocknroll-one";
import myProfileImage from `../images/profile.jpg`
import { PUBLIC_GA_TRACKING_ID, ENABLE_LIGHTBOX } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import '../styles/syntax-coloring.css'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import SearchModal from '../components/SearchModal.astro'
import SearchButton from '../components/SearchButton.astro'

export interface Props {
	title: string
	description: string
	path: string
	ogImage: string
}

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()

const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(getNavLink(path), Astro.site).toString()
const siteOGImage = new URL(
	getStaticFilePath('/src/images/default-og-image.png'),
	Astro.site
)

let coverImageURL: string
if (database.Cover) {
	if (database.Cover.Type === 'external') {
		coverImageURL = database.Cover.Url
	} else if (database.Cover.Type === 'file') {
		try {
			coverImageURL = filePath(new URL(database.Cover.Url))
		} catch (err) {
			console.log('Invalid DB cover image URL')
		}
	}
}

let customIconURL: string
if (database.Icon && database.Icon.Type === 'file') {
	try {
		customIconURL = filePath(new URL(database.Icon.Url))
	} catch (err) {
		console.log('Invalid DB custom icon URL')
	}
}
/*
				<a href={getNavLink('/')}>
                  {
                    database.Icon && database.Icon.Type === 'emoji' ? (
                      <>
                        <span>{database.Icon.Emoji}</span>
                        {database.Title}
                      </>
                    ) : database.Icon && database.Icon.Type === 'external' ? (
                      <>
                        <img src={database.Icon.Url} alt="Site icon image" />
                        {database.Title}
                      </>
                    ) : database.Icon && database.Icon.Type === 'file' ? (
                      <>
                        <img
                          src={customIconURL}
                          class="custom-icon"
                          alt="Site icon image"
                        />
                        {database.Title}
                      </>
                    ) : (
                      database.Title
                    )
                  }
                </a>
*/
//{database.Description}

---

<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="max-image-preview:large">
		<meta charset="UTF-8">
		<meta name="generator" content={Astro.generator}>
		<title>{siteTitle}</title>
		<meta name="description" content={siteDescription}>
		<link rel="canonical" href={siteURL}>
		<meta property="og:url" content={siteURL}>
		<meta property="og:title" content={siteTitle}>
		<meta property="og:description" content={siteDescription}>
		<meta property="og:site_name" content={database.Title}>
		<meta property="og:image" content={ogImage || siteOGImage}>
		<meta name="twitter:title" content={siteTitle}>
		<meta name="twitter:description" content={siteDescription}>
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content={ogImage || siteOGImage}>
		<!-- reset.css modern-css-reset -->
		<link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
	</head>
	<body>
		<GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
		<header class="header">
			<div class="site_name">
				<a href={getNavLink('/')}>
					{database.Title}
				</a>
			</div>
			<div class="search">
				<SearchButton />
			</div>
		</header>
		<main class="main">
			<div class="page_center">
				<div class="content">
					<slot name="main" />				
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="page_center">

				<div class="footer_nav">
					<slot name="aside" />
				</div>
				<div class="profile">
					<div class="img"><Image src={myProfileImage} alt="書いているひと：まゆ"></div>
					<div class="txt">
						<h3>書いているひと：まゆ</h3>
						<p class="info">おうちに猫が8匹います。メダカもいます。<br>今度の休みはどんなパンを作ろうかなって考えながら暮らしています。</p>
						<div class="sns_link">
							<ul>
								<li><a title="Bluesky" href="https://bsky.app/profile/goodnight.blue" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="1.13em" height="1em" viewBox="0 0 576 512"><path fill="#1185fe" d="M407.8 294.7c-3.3-.4-6.7-.8-10-1.3c3.4.4 6.7.9 10 1.3M288 227.1c-26.1-50.7-97.1-145.2-163.1-191.8C61.6-9.4 37.5-1.7 21.6 5.5C3.3 13.8 0 41.9 0 58.4S9.1 194 15 213.9c19.5 65.7 89.1 87.9 153.2 80.7c3.3-.5 6.6-.9 10-1.4c-3.3.5-6.6 1-10 1.4c-93.9 14-177.3 48.2-67.9 169.9C220.6 589.1 265.1 437.8 288 361.1c22.9 76.7 49.2 222.5 185.6 103.4c102.4-103.4 28.1-156-65.8-169.9c-3.3-.4-6.7-.8-10-1.3c3.4.4 6.7.9 10 1.3c64.1 7.1 133.6-15.1 153.2-80.7C566.9 194 576 75 576 58.4s-3.3-44.7-21.6-52.9c-15.8-7.1-40-14.9-103.2 29.8C385.1 81.9 314.1 176.4 288 227.1"/></svg></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer_bottom">
					<div class="copyright">
						<p>&copy; {　database.Title	}.</p>
					</div>
					<div class="powerdby">
						<span>Powered by&nbsp;</span>
						<a href="https://github.com/otoyo/astro-notion-blog" target="_blank">astro-notion-blog</a>
					</div>
			</div>
		</footer>

		<SearchModal />
		{
			ENABLE_LIGHTBOX && (
				<script src={getStaticFilePath('/scripts/fslightbox.js')} />
			)
		}
	</body>
</html>

<style lang="scss">
	.header{
		position:sticky;
		top:0;
		left:0;
		width:100%;
		padding:1% 2%;
		display:flex;
		justify-content:space-between;
		align-items:center;
		background:$lightgray;
		@media #{$sp} {
			padding:3% $spsize;
		}
		.site_name{
			a{
				font-family: $font_title;
				font-weight: 400;
				font-size:30px;
				letter-spacing:0.2em;
				color:$textcolor_base;
				text-decoration:none;
				@media #{$sp} {
					font-size:24px;
				}
			}
		}
	}
	.footer{
		.footer_nav{
			padding:5% 0;
		}
		.profile{
			padding:5% 0;
			display:flex;
			justify-content:space-between;
			.img{
				width:20%;
				img{
					border-radius:50%;
				}
			}
			.txt{
				width:76%;
				h3{
					font-size:20px;
					font-weight:500;
					padding:0 0 2%;
				}
				.sns_link{
					padding:2% 0 0;
					ul{
						list-style:none;
						padding:0;
						li{
							display:inline-block;
							a{
								svg{
									width:40px;
									height:auto;
								}
							}
						}
					}
				}
			}
		}
		.footer_bottom{
			padding:3% 0 2%;
			font-size:12px;
			display:flex;
			justify-content:space-between;
		}

	}
</style>

<style lang="scss" is:global>
	body{
		background:$lightgray;
		-webkit-text-size-adjust: 100%;
		font-feature-settings : "palt";
		font-family: $font_family;
		font-weight: 400;
		font-size: 18px;
		font-optical-sizing: auto;
		font-style: normal;
		color:$textcolor_base;
		line-height: 1.8;
		letter-spacing:0.08em;
		@media #{$sp}{
			font-size: 14px;
		}
	}
	img {
		max-width: 100%;
		width: auto;
		height: auto;
		vertical-align: bottom;
	}
	@media #{$pc} {
		a[href^="tel:"] {
			pointer-events: none;
			color:$textcolor_base;
			text-decoration: none;
		}
	}
	*,:before,:after {
		box-sizing:border-box;
	}
	a{
		color:$linkcolor_base;
		transition:all 0.3s ease;
		text-decoration: none;
		&:hover{
			color:$linkcolor_hover;
			text-decoration:underline;
			img{
				opacity: 0.75;
			}
		}
	}
	a img{
		transition:opacity 0.3s ease;
	}
	.page_center{
		width: 100%;
		padding: 0 1.86% 0;
		@media #{$morepc}{
			width: $pagesize;
			margin:0 auto;
			padding: 0 0 0;
		}
		@media #{$sp}{
			padding: 0 $spsize;
		}
		@media #{$sp320}{
			padding: 0 4%;
		}
	}
</style>